.kinect-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Turn off scrollbars */
body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
    background-color: #f0f0f0;
    color: #333; 
    font-family: Arial, sans-serif; 
}

.state-content {
text-align: center;
margin-top: 50px; 
}

h1 {
font-size: 60px; /* Large font size */
margin-bottom: 30px; /* Add space below heading */
}

p {
font-size: 30px; /* Medium font size */
margin-bottom: 30px; /* Add space below paragraphs */
}

.twod{position:absolute;z-index:1;}

#container{
    /* display:inline-block; */
    display: none;
    width: 540px; 
    height:300px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333;
    flex: none;
}

#kinect-canvas{
    position:relative;
    z-index:20;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


#home-screen {
    text-align: center;
    padding-top: 20vh;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}

.hand-instruction {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.hand-instruction.left {
    text-align: right;
}

.hand-instruction.right {
    text-align: left;
}

.success{
    color: green;
}

.failure {
    color: red;
}

#stretches h5 {
    font-size: 12px;
}

/* Stretching activity slide */
.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-with-text {
    text-align: center;
    width: calc(33.33% - 10px);
}

.image-with-text img {
    max-width: 100%;
    height: auto;
}

.image-with-text h5 {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}
