.kinect-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Turn off scrollbars */
body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}